.Menu { 
  width: 100%;
  height: 1000px;
  display: block;
 
}
.Menu > img { 
  width: 50px;
  height:50px;
  right: 5px;
  position: fixed;
  z-index: 100;
  overflow: scroll;
}
.invisible {
  display: none;
  width: 50px;
  height: 50px;
  right: 5px;
  position: fixed;
  z-index: 100;
  overflow: scroll;
}
.name{
  font-family: 'Arial', sans-serif;
  float: left;
  color:rgba(255, 188, 2, 0.747);
  font-size: 30px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 500px;
}
.profession{
  font-family: 'Arial', sans-serif;
  color: rgba(255, 188, 2, 0.747);
  font-size: 30px;
  height: 10%;
  width: 50%;
  margin-top: 5%;
  margin-left: 50%;
}
.hexagonsSec{
  display: block;
  margin-left: 30%;
  margin-top: auto;
  width: 70%;
  padding-top: 5%;
}
.one, .three{
  display: flex;
  height: 190px;
  width: auto;
  margin-left: 128px;
}
.two{
  display: flex;
  height: 190px;
}
.visibleDiv, .otherDiv {
  width: 250px;
  height: 250px;
  background-color:rgba(255, 188, 2, 0.747);
  margin: 5px 2px 0px 5px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.wrap{
  text-align: center;
  margin-top: 20%;
  color: rgb(0, 0, 0);
}

.slider {
  width: 95%;
  height: 100%;
	margin: auto;
	overflow: hidden;
}

.slider img {
  width: 100%;
  height: 100%;
}
.slider > figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
  opacity:0;
}
.slider:hover figure{
  transition: opacity .5s;
  opacity: 1;
}

figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) { 
  
  .Menu{
   height: 1420px;
   width: 100%;
  }
  .one, .three{
    margin-left: 24.5%;
   }
   .hexagonsSec{
     margin-left: 5%;
     margin-right: 5%;
     width: 90%;
   }
   .profession{
    margin-top: 14%;
    margin-left: 60%;
   
  }
   
}

@media only screen and (min-width: 767px) and (max-width: 1023px) { 
  .otherDiv{
    display: none;
  }
  .visibleDiv{
    background-color:rgba(255, 188, 2, 0.747);
  }
  .Menu { 
    height: 1100px;
    width: 100%;
  }
  .hexagonsSec{
    margin-left: 20%;
    width:80%;
  }
 .two{
   width: 10%;
 }
}

@media only screen and (max-width: 767px) { 
  
  .hexagonsSec{
    display: block;
    margin-left: 10%;
  }
  .otherDiv{
    display: none;
  }
  .one{
    margin-left: 30px;
    height: 120px;
    width: 150px;
  }
  .three{
    margin-left: 110px;
    margin-top: 5px;
    width: 150px;
  }
  .two{
    display: block;
    height: 230px;
    width: auto;
  }
  .skillsSec{
    margin-left: 105px;
    height: 115px;
    width: 50px;
  }
  
  .projectsSec{
    margin-left: 30px;
    width: 50px;
  }
  
  .visibleDiv {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 188, 2, 0.747);
  }
  .name > h1{
    margin: 0px;
  }
  .Menu { 
    height: 900px;
    width: 100%;
  }
  .Menu > img { 
    height: 7%;
  }
  .profession{
    margin-left: 50%;
    font-size: 15px;
   
  }
}
