.Projects{
    font-size: 24px;
    font-family: 'Major Mono Display', monospace;
    margin: 30px 0 0 30px;
    text-align: left;
    height: 50%;
    color: rgb(255, 188, 2);
}
.Projects > div {
  text-align: center;
  margin-left: -100px;
  margin-right: 100px;
}
.Projects > h1 {
  margin-left: 5%;
}
.showHover{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    margin-bottom: 36%;
    margin-left: 3px;
    background-color: rgb(255, 188, 2);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);   
}
#projectOne, #projectTwo, #projectThree, #projectFour{
  display: none;
   margin-left: 24%;
   width: 200px;
}
.hexagon {
  font-family:  'Didact Gothic', sans-serif;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 300px; 
  font-size: 16px;
  height: 195.47px;
  background-color:  rgba(122, 122, 122, 0.623);
  margin: 57.74px 0;
  }
    .hexagon:before, .hexagon:after {
    left: 0;
    content: "";
    position: absolute;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  
    .hexagon:before {
    bottom: 100%;
    border-bottom: 77.74px solid   rgba(122, 122, 122, 0.623);
  }
  
  .hexagon:after {
    top: 100%;
    border-top: 77.74px solid  rgba(122, 122, 122, 0.623);
  } 
  .flip-container{
    display: inline-block;
    margin-left: 10%;
    width: 200px; 
    height: 290px;
    margin-top: 10%;
}
    .flip-container:hover .hexagon {
    transform: rotateY(180deg);
    background-image: none;
    }
    
  .front, .back {
    width: 300px; 
    height: 195.47px;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    color: antiquewhite;
    text-align: center;
  }
  .front {
      z-index: 2;
      transform: rotateY(0deg);
  }
  .front > img{
    width: 100%;
    height: 100%;
  }
  .back {
      transform: rotateY(180deg);
      padding: 2%;
      margin-left: -10px;
  }
  .back > h1 {
    font-size: 16px;
    margin-top: 0;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) { 
  .flip-container{
    margin: 10%;
 }
}
@media only screen and (min-width: 767px) and (max-width: 1023px) {
  .flip-container{
   margin: 10%;
}
.Projects > div{
  margin-right: 70px;
}

}
@media only screen and (max-width: 767px) {
  .Projects{
    height: 2050px;
  }
  .flip-container{
    margin-top: 50%;
  }
}